<div class="row header-main">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <img src="/assets/images/logo.png">
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text fa fa-search"></span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
        <div class="btn-group">
          <span>Ratna Thangudu</span>
          <span class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </span>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>