<div #createScript class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title header-2 bold" id="exampleModalLabel">Create Script</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" [inlineSVG]="'/assets/icons/close.svg'">
            </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- <label for="name">Name</label> -->
            <input [(ngModel)]="newScript.name" name="name" class="form-control input-border" placeholder="Name" />
          </div>
          <div class="form-group">
            <label for="name">Type</label>
            <select class="form-control custom-full-border" name="project" [(ngModel)]="newScript.type">
              <option value="script r">Statistical Script(R)</option>
              <option value="script p">Statistical Script(P)</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Laboratory</label>
            <select class="form-control custom-full-border" name="project" [(ngModel)]="newScript.laboratory">
              <option value="script r">Select Laborator</option>
              <option value="laboratory">Laboratory</option>
            </select>
          </div>
          <div class="form-group">
            <label for="area">Description</label>
            <textarea class="form-control custom-full-border" name="description" id="description" [(ngModel)]="newScript.description" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="area">Script Text</label>
            <textarea class="form-control custom-full-border" name="scriptText" id="scriptText" [(ngModel)]="newScript.scriptText" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="area">Parameters</label>
            <div class="parameters-container">
              <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input [(ngModel)]="newScript.parameterName" name="parameterName" class="form-control input-border" placeholder="Name" />
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="name">Type</label>
                  <select class="form-control custom-full-border" name="project" [(ngModel)]="newScript.parameterType">
                    <option value="script r">Statistical Script(R)</option>
                    <option value="script p">Statistical Script(P)</option>
                  </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                  <label for="name">Default Value</label>
                  <input [(ngModel)]="newScript.parameterDefaultValue" name="parameterDefaultValue" class="form-control custom-full-border" placeholder="Default Value" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary custom-primary-btn" (click)="addNewScript()">Create</button>
      </div>
    </div>
  </div>
</div>