<div #createStudy id="create_study_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title header-2 bold" id="exampleModalLabel">Create Study</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" [inlineSVG]="'./assets/icons/close.svg'">
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div id="smartwizard">
                    <ul>
                        <li>
                            <a href="#step-1">1<br />
                                <div class="step-description">General Info</div>
                            </a></li>
                        <li><a href="#step-2">2<br />
                                <div class="step-description">Analysis</div>
                            </a></li>
                        <li><a href="#step-3">3<br />
                                <div class="step-description">File selection</div>
                            </a></li>
                        <li><a href="#step-4">4<br />
                                <div class="step-description">File to prep</div>
                            </a></li>
                        <li><a href="#step-5">5<br />
                                <div class="step-description">Sample to prep</div>
                            </a></li>
                        <li><a href="#step-6">6<br />
                                <div class="step-description">Study Design</div>
                            </a></li>
                        <li><a href="#step-7">7<br />
                                <div class="step-description">Confirm</div>
                            </a></li>
                    </ul>

                    <div>
                        <div id="step-1" class="">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Study Name</label> -->
                                        <input [(ngModel)]="newStudy.name" name="name" class="form-control header-3 custom-input-border"
                                            placeholder="Study Name">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Project</label> -->
                                        <!-- <select class="form-control custom-input-border" name="project" [(ngModel)]="newStudy.project">
                                            <option value="project 1">Project 1</option>
                                            <option value="project 2">Project 2</option>
                                        </select> -->

                                        <ng-select placeholder="Project" class="ng-select-dropdown" [items]="projects" name="project"
                                            bindLabel="name" bindValue="id" [(ngModel)]="newStudy.project">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Species</label> -->
                                        <!-- <input [(ngModel)]="newStudy.species" name="species" class="form-control input-border header-3"
                                            placeholder="Species"> -->
                                        <ng-select placeholder="Species" class="ng-select-dropdown" [items]="species" name="species"
                                            bindLabel="name" bindValue="id" [(ngModel)]="newStudy.species">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-control custom-checkbox">
                                        <label>Program</label>
                                        <br />
                                        <input [(ngModel)]="newStudy.allPrograms" name="allPrograms" type="checkbox"
                                            class="custom-control-input" id="allPrograms">
                                        <label class="custom-control-label look-program-checkbox" for="allPrograms">Look
                                            through all Programs</label>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Select one</label> -->
                                        <select class="form-control custom-input-border header-3" name="project"
                                            [(ngModel)]="newStudy.select">
                                            <option value="">--Select One--</option>
                                            <option value="project 1">Project 1</option>
                                            <option value="project 2">Project 2</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6 mt-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Technology type</label> -->
                                        <!-- <input [(ngModel)]="newStudy.technology" name="species" class="form-control header-3 custom-input-border"
                                            placeholder="Technology type"> -->
                                        <ng-select placeholder="Technology" class="ng-select-dropdown" [items]="techTypes" name="technology"
                                            bindLabel="name" bindValue="id" [(ngModel)]="newStudy.technology" (change)="getVendorsList()">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6 mt-4 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <!-- <label for="name">Vendor</label> -->
                                        <!-- <input [(ngModel)]="newStudy.vendor" name="species" class="form-control header-3 custom-input-border"
                                            placeholder="Vendor"> -->

                                            <ng-select placeholder="Vendor" class="ng-select-dropdown" [items]="vendors" name="vendor"
                                            bindLabel="name" bindValue="id" [(ngModel)]="newStudy.vendor">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label for="area">Description (Optional)</label>
                                        <textarea class="form-control custom-full-border" name="description" id="description"
                                            [(ngModel)]="newStudy.description" rows="4"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label for="area">Attachments (Optional)</label>
                                        <div class="upload-drop-zone custom-full-border" id="study_drop_zone">
                                            <span class="mr-2" [inlineSVG]="'./assets/icons/upload.svg'">
                                            </span>
                                            Drag and Drop files to dialog (Maximum file size is 10.00 MB
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="step-2" class="">
                            Step Content2
                        </div>
                        <div id="step-3" class="">
                            Step Content3
                        </div>
                        <div id="step-4" class="">
                            Step Content4
                        </div>
                        <div id="step-5" class="">
                            Step Content5
                        </div>
                        <div id="step-6" class="">
                            Step Content6
                        </div>
                        <div id="step-7" class="">
                            Step Content7
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="addNewProject()">Create</button>
            </div> -->
        </div>
    </div>
</div>