.JColResizer > tbody > tr > td,
.JColResizer > tbody > tr > th {
  overflow: hidden;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.custom-table thead,
.custom-table thead th:nth-child(1),
.custom-table thead th:nth-child(2),
.custom-table tbody td:not(.no-results):nth-child(1) {
  max-width: 70px !important;
  width: 70px !important;
}
