<div #createSharingGroup class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title header-2 bold" id="exampleModalLabel">Create Sharing Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" [inlineSVG]="'./assets/icons/close.svg'">
            </span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input [(ngModel)]="newSharingGroup.name" name="name" class="form-control header-3 input-border" placeholder="Name">
          </div>
          <label class="header-3">No Members</label>
          <div class="member-container">
            <p class="header-3">There are no Members</p>
          </div>
          <div class="member-invitation-container">
            <p>Invite People Personally</p>
            <div class="form-group">
              <input [(ngModel)]="newSharingGroup.persons" name="persons" class="form-control" placeholder="Enter Person's Email">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary custom-primary-btn" (click)="addNewSharingGroup()">Create</button>
      </div>
    </div>
  </div>
</div>