.main-container {
  margin: 16px;
}
.bootstrap-tab-content {
  padding: 16px 0;
}
html,
body {
  font-family: "Lato", sans-serif !important;
}

.modal-dialog {
  width: 800px !important;
  max-width: 800px !important;
}

@media screen and (max-width: 800px) {
  .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
  }
}
