.main-container {
  margin: 16px;
}
.bootstrap-tab-content {
  padding: 16px 8px;
}
html,
body {
  font-family: "Lato", sans-serif !important;
  font-size: 12px !important;
  color: #585858 !important;
  letter-spacing: 0.6px;
}
.header-1 {
  font-size: 18px !important;
  letter-spacing: 0.9px;
  line-height: 27px;
}
.header-2 {
  font-size: 14px !important;
  letter-spacing: 0.7px;
}
.bold {
  font-weight: bold;
}
.modal-dialog {
  width: 800px !important;
  max-width: 800px !important;
}

.loader-gif {
  height: 100px;
  width: 100px;
}
/* .loader-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
} */
@media screen and (max-width: 800px) {
  .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b3e53;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b3e53;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
}
