<div class="d-flex justify-content-between align-items-center projects-actions-container">
    <div>
        <div class="btn-group m-1">
            <button type="button" class="btn btn-success">
                <span class="fa fa-plus"></span> &nbsp;&nbsp;Create</button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
        <div class="btn-group m-1">
            <button type="button" class="btn btn-light">Upload files</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
        <h4 class="projects-count">All Projects (5)</h4>
    </div>
    <div>
        <div class="input-group">
            <input type="text" class="form-control filter-mails-list" placeholder="Filter List" />
        </div>
    </div>
</div>
<div class="row email-container">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">

        <app-side-menu></app-side-menu>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
        <table class="table mails-table">
            <thead>
                <tr>
                    <th>...</th>
                    <th>ID</th>
                    <th>PROJECT NAME</th>
                    <th>OWNER</th>
                    <th>LABORATORY</th>
                    <th>AREA OF RESEARCH</th>
                    <th>MODIFIED</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mail of mailsList">
                    <td>...</td>
                    <td [innerHtml]="mail.id"></td>
                    <td [innerHtml]="mail.name"></td>
                    <td [innerHtml]="mail.owner"></td>
                    <td [innerHtml]="mail.laboratory"></td>
                    <td [innerHtml]="mail.area"></td>
                    <td [innerHtml]="mail.modified"></td>
                </tr>
            </tbody>
        </table>
    </div>



</div>