.projects-count {
  margin-left: 8px !important;
  margin-top: 3px !important;
  color: #fff;
}
.projects-actions-container {
  padding: 8px 8px 100px 8px;
  background-image: linear-gradient(-133deg, #246a92 0%, #245571 100%);
}
.email-container {
  margin-top: -90px;
  padding: 0 4px 0 8px;
  display: flex;
}
.mails-table-container {
  width: calc(100% - 200px);
  margin: 0 6px;
  overflow: auto;
}
.mails-table-container {
  background: #fff;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.mails-table-container thead,
.mails-table-container tbody td:not(.no-results):nth-child(1) {
  background: #aed2e9;
  /* opacity: 0.9; */
}
.table-cell-hover th:not(:first-child):hover {
  cursor: pointer;
  text-decoration: underline;
}
.mails-table-container thead th {
  border-right: 1px solid #ddd;
}

.mails-table-container tbody tr:last-child {
  border-bottom: 1px solid #ddd;
}
.filter-mails-list {
  background: transparent;
  color: #fff;
  width: 240px;
}
.filter-mails-list::placeholder {
  color: #fff;
  opacity: 0.8;
}

.side-menu-container {
  width: 200px;
}

.sort-icon {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 8px;
}

.mails-table-container .is-sorted {
  display: flex;
  justify-content: space-between;
}
.loader-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-dialog .modal-content {
  width: 128px;
  height: 128px;
}

@media screen and (min-width: 599px) {
  .projects-count {
    display: inline;
    position: absolute;
  }
}
@media screen and (max-width: 599px) {
  .filter-mails-list {
    width: auto !important;
  }
}
