.projects-count {
  margin-left: 8px !important;
  margin-top: 8px !important;
  color: #fff;
}
.projects-actions-container {
  padding: 8px 8px 100px 8px;
  background: #245a79;
}
.email-container {
  margin-top: -90px;
}

.mails-table {
  background: #fff;
  border: 1px solid #ddd;
}
.mails-table thead th {
  font-weight: 500;
}
.mails-table thead,
.mails-table tbody td:nth-child(1) {
  background: #cee4f1;
}

.filter-mails-list {
  background: transparent;
  color: #fff;
  width: 240px;
}
.filter-mails-list::placeholder {
  color: #fff;
  opacity: 0.8;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  padding: 8px 0;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

@media screen and (min-width: 599px) {
  .projects-count {
    display: inline;
    position: absolute;
  }
}
