.custom-file-extensions {
  width: 100%;
  border-bottom: 1px solid #585858;
  padding: 8px;
}
.file-extension-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.custom-file-extensions .fa-close:hover {
  color: #dc3545;
}
.instrument-model-type-dialog {
  width: 550px !important;
  margin-top: 10%;
}
.instrument-modal-add-btn {
  margin-top: -10px;
}
