<div class="side-menu">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item side-menu-main-header header-3">
        GLOBAL REPOSITORY
      </li>
      <li class="nav-link projects-link header-3" routerLinkActive="active-link">
        <a routerLink="/projects/all">All Projects</a>
        <span data-toggle="collapse" data-target="#products" class="active collapsed fa fa-angle-right float-right"></span>
      </li>
      <ul class="sub-menu collapse" id="products" style="height: 0px;">
        <li class="nav-link" routerLinkActive="active-link"><a routerLink="/projects/my">My Projects</a></li>
        <li class="nav-link" routerLinkActive="active-link"><a routerLink="/projects/shared">Shared with me</a></li>
        <li class="nav-link" routerLinkActive="active-link"><a routerLink="/projects/public">Public projects</a></li>
      </ul>
      <li class="nav-link projects-link header-3" routerLinkActive="active-link">
        <a routerLink="/protocols">Protocols</a>
      </li>
      <li class="nav-link  header-3">
        <a href="#">All Experiment</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">My Experiment</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Shared with me</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Public Experiments</a>
      </li>
      <li class="nav-link  header-3">
        <a href="#">All Files</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">My Files</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Shared with me</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Public Files</a>
      </li>
      <li class="nav-link side-menu-main-header header-3">
        MY Labs
      </li>
      <li class="nav-link header-3">
        <a href="#">Clinical Proteomic</a>
      </li>
    </ul>
  </nav>
</div>