<div class="side-menu">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item side-menu-main-header header-3">
        GLOBAL REPOSITORY
      </li>
      <li class="nav-link projects-link header-3" routerLinkActive="active-link">
        <a routerLink="/projects/all">All Projects</a>
      </li>
      <li class="nav-link sub-menu" routerLinkActive="active-link"><a routerLink="/projects/my">My Projects</a></li>
      <li class="nav-link sub-menu" routerLinkActive="active-link"><a routerLink="/projects/shared">Shared with me</a></li>
      <li class="nav-link sub-menu" routerLinkActive="active-link"><a routerLink="/projects/public">Public projects</a></li>
      <li class="nav-link projects-link header-3" routerLinkActive="active-link">
        <a routerLink="/protocols">Protocols</a>
      </li>
      <li class="nav-link header-3" routerLinkActive="active-link">
        <a routerLink="/studies/all">All Studies</a>
      </li>
      <li class="nav-link sub-menu" routerLinkActive="active-link">
        <a routerLink="/studies/my">My Studies</a>
      </li>
      <li class="nav-link sub-menu" routerLinkActive="active-link">
        <a routerLink="/studies/shared">Shared with me</a>
      </li>
      <li class="nav-link sub-menu" routerLinkActive="active-link">
        <a routerLink="/studies/public">Public Studies</a>
      </li>
      <li class="nav-link projects-link header-3" routerLinkActive="active-link">
        <a routerLink="/instruments-models">Instruments Models</a>
      </li>
      <li class="nav-link  header-3">
        <a href="#">All Files</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">My Files</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Shared with me</a>
      </li>
      <li class="nav-link sub-menu">
        <a href="#">Public Files</a>
      </li>
      <li class="nav-link side-menu-main-header header-3">
        Programs
      </li>
      <li class="nav-link header-3">
        <a href="#">Clinical Proteomic</a>
      </li>
    </ul>
  </nav>
</div>