<div class="side-menu">
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item side-menu-main-header header-2">
        GLOBAL REPOSITORY
      </li>
      <li data-toggle="collapse" data-target="#products" class="active collapsed header-2">
        <a class="nav-link" href="#">All Projects<span class="fa fa-angle-right float-right"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products" style="height: 0px;">
        <li class="nav-link"><a href="#">My Projects</a></li>
        <li class="nav-link"><a href="#">Shared with me</a></li>
        <li class="nav-link"><a href="#">Public projects</a></li>
      </ul>
      <li class="nav-item  header-2">
        <a class="nav-link" href="#">All Experiment</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">My Experiment</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">Shared with me</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">Public Experiments</a>
      </li>
      <li class="nav-item  header-2">
        <a class="nav-link" href="#">All Files</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">My Files</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">Shared with me</a>
      </li>
      <li class="nav-item sub-menu">
        <a class="nav-link" href="#">Public Files</a>
      </li>
      <li class="nav-item side-menu-main-header header-2">
        MY Labs
      </li>
      <li class="nav-item header-2">
        <a class="nav-link" href="#">Clinical Proteomic</a>
      </li>
    </ul>
  </nav>
</div>