.sub-menu {
  margin-left: 8px;
}
.side-menu {
  background: #1b3e53;
  color: #fff;
  height: calc(100vh - 160px);
  overflow: auto;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
}
.side-menu a {
  color: #fff;
}
.side-menu ul {
  padding-left: 8px;
}
.side-menu-main-header {
  padding: 16px;
  background: #2c9ea0;
  margin-left: -8px;
}
/* .side-menu-main-header-title {
    font-weight: 700;
  } */
.projects-link {
  position: relative;
}
.projects-link a {
  padding-right: 24px !important;
}
.projects-link span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.active-link {
  background: #0c8ace;
  /* margin-left: -8px; */
}

/* .active-link::after {
  content: '>';
  float: right;
  font-size: 20px;
  font-weight: 400;
  margin-top: -6px;
} */

/* .active-link {
  margin-left: -8px;
  padding-left: 20px;
}
.active-link.sub-menu {
  margin-left: -8px;
  padding-left: 28px;
} */
