.upload-drop-zone {
  padding: 8px 0;
  text-align: center;
}
.upload-drop-zone.drop {
  color: #585858;
  border: 1px dashed #585858;
}
.member-container {
  height: 200px;
  border: 1px solid #585858;
  overflow: auto;
}
.no-project-users {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  margin-bottom: 0;
}
.member-invitation-container {
  padding: 8px 16px;
  border: 1px solid #585858;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: none;
  margin-bottom: 8px;
}
.project-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
}
.project-user-container:not(:last-child) {
  border-bottom: 1px solid #585858;
}
